body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5fbfd;
}
*{box-sizing: border-box;}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: #050401;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;

}

.box {
  height: 30px;
  width: 30px;
}



.animate {

  animation: spin 1.3s infinite linear;
  -ms-animation: spin 1.3s infinite linear;
  -o-animation: spin 1.3s infinite linear;
  -webkit-animation: spin 1.3s infinite linear;
  -moz-animation: spin 1.3s infinite linear;

}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }

}

.body{
  margin-bottom: 50px;
}

.Searchbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
margin-bottom: 40px;
  width: 90%;
  margin-left: 5%;
  margin-top: 40px;
}

.Searchbar>input {
  outline: none;
  height: 40px;
  border: none;
  box-shadow: 0px 4px 2px -2px #d3d3d3;
  width: 45%;
}

.Searchbar>select {
  width: 45%;
  outline: none;
  height: 40px;
}
.filtertext{margin-top:-20px;
  line-height:2px;
  position: absolute;
 margin-left: 50%;
}



.countryCard {
  width: 26%;
  background-color: white;
  float: left;

  margin: 10px  2%;

}

.countryCard>img {
  width:100%;
  height: 200px;
}
.countryRenderdiv{
width: 89%;
margin-left: 11%;


  
}

.countryCard>h3 {
  margin-left: 20px;
}

.countryCard>p {
  margin-left: 10px;
}

.footer-link{
width: 24%;
margin-left: 39%;
  position: fixed;
bottom: 0;
  text-align: center;
  cursor: pointer;
  background-color: #f1d302;
  padding: 5px 20px;
  border-top-right-radius:5px ;
  border-top-left-radius: 5px;
}
.detail-link{
text-align: center;
font-size: 16px;
}

.detail-link a{

  color: #050401;
}
.detailsCard{
  display: flex;
  flex-direction: row;

padding-bottom: 100px;
  
}

.infoDiv{
  display: flex;

}
.infoDiv div{
  
  margin-left: 60px;
}

.infoDiv p{
  font-size: 19px;
}
.detailsCard img{
  width:40%;
  margin-left:2.5%;

}

@media screen and (max-width:1000px) {
  .countryCard {
    width: 45%;

  
  }
  .countryRenderdiv{
    width: 100%;
margin-left: 0px;
      
    }
    .detailsCard{
      display: block;

    }
    .detailsCard img{
      width:70%;
      margin-left: 15%;
      height: 320px;

     
    }
    .infoDiv{
      display: block;
 
    
    }

  @media screen and (max-width:600px) {
    .detailsCard img{
      width:90%;
      margin-left: 5%;
height: 250px;
     
    }
    .countryCard {
      width: 80%;
 margin-left: 10%;

    }

    .Searchbar {
      display: flex;
      flex-direction: column;

    margin-bottom: 40px;
      width: 90%;
      margin-left: 5%;
      margin-top: 40px;
    }

    .Searchbar>input {
      outline: none;
      height: 40px;
      border: none;
      box-shadow: 0px 4px 2px -2px #d3d3d3;
      width: 100%;
      margin-bottom: 50px;
    }
    
    .Searchbar>select {
      width: 100%;
      outline: none;
      height: 40px;
    }
    .filtertext{margin-top:-20px;
      line-height:2px;
      position: absolute;
     margin-left: 2%;
     margin-top: 75px;
    }


  }
  
}