body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5fbfd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: #050401;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;

}

.box {
  height: 30px;
  width: 30px;
}



.animate {

  animation: spin 1.3s infinite linear;
  -ms-animation: spin 1.3s infinite linear;
  -o-animation: spin 1.3s infinite linear;
  -webkit-animation: spin 1.3s infinite linear;
  -moz-animation: spin 1.3s infinite linear;

}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }

}

.body {
  width: 100%;
  margin-top: 40px;
}

.Searchbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
}

.Searchbar>input {
  outline: none;
  height: 40px;
  border: none;
  box-shadow: 0px 4px 2px -2px #d3d3d3;
  width: 40%;
}

.Searchbar>select {
  width: 40%;
  outline: none;
  height: 40px;
}
.filtertext{margin-top:-20px;
  line-height:2px;
  position: absolute;
 margin-left: 50%;
}

option {
  margin-left: 20px;
}

.countryCard {
  width: 250px;

  background-color: white;
  padding-bottom: 20px;
  float: left;
  margin: 40px 40px;

}

.countryCard>img {
  width: 100%;
  height: 200px;
}

.countryCard>h3 {
  margin-left: 20px;
}

.countryCard>p {
  margin-left: 10px;
}
@media screen and (max-width:768px) {

 .Searchbar{display: block;}
 .Searchbar>input{
margin-bottom: 50px;
  width: 100%;
 }
 .Searchbar>select{
   width: 100%;
 }
 .filtertext{

margin-left: 0%;
 }
 .navbar h2{
   font-size: 20px;
 }
 .countryCard {
width: 60%;
margin-left: 20%;
text-align: center;

}
  
}